<!-- Optional JavaScript; choose one of the two! -->
<!-- Header -->
<app-header title="Jefe de Mtto" />
<main class="container my-4">
  <div class="row g-3">
    <div class="col-6">
      <app-mi-propiedad />
    </div>
    <div class="col-6">
      <app-tickets />
    </div>
    <div class="col-6">
      <app-bitacoras />
    </div>
    <div class="col-6">
      <app-inspecciones />
    </div>
    <div class="col-6">
      <app-calendario />
    </div>
    <div class="col-6">
      <app-inventarios />
    </div>
    <div class="col-6">
      <app-almacen />
    </div>
    <div class="col-6">
      <app-anuncios />
    </div>
    <div class="col-6">
      <app-reglamentos />
    </div>
    <div class="col-6">
      <app-documentos-biblioteca />
    </div>
    <div class="col-6">
      <app-compras />
    </div>
    <div class="col-6">
      <app-rrhh />
    </div>
    <div class="col-6">
      <app-reportes />
    </div>
  </div>
</main>

<br />
<br />
<br />
<app-footer />
