<!-- Optional JavaScript; choose one of the two! -->
<!-- Header -->
<app-header title="Colaborador" />
<main class="container my-4">
  <div class="row g-3">
    <div class="col-6">
      <app-mi-propiedad />
    </div>
    <div class="col-6">
      <app-tickets />
    </div>
    <div class="col-6">
      <app-bitacoras />
    </div>
    <div class="col-6">
      <app-inspecciones />
    </div>
    <div class="col-6">
      <app-calendario />
    </div>
    <div class="col-6">
      <app-rrhh />
    </div>
  </div>
</main>

<br />
<br />
<br />
<app-footer />
