<!-- Optional JavaScript; choose one of the two! -->
<!-- Header -->
<app-header title="Super User" />
<main class="container my-4">
  <div class="row g-3">
    <div class="col-12">
      <select class="form-select">
        <option>La Jolla</option>
        <option>Tamarindos 7</option>
        <option>Armoni</option>
        <option>Avivia Br</option>
        <option>Avivia 58</option>
        <option>Paragon</option>
        <option>Royal Reforma</option>
      </select>
    </div>
    <div class="col-6">
      <app-usuarios />
    </div>
    <div class="col-6">
      <app-catalogos />
    </div>
    <div class="col-6">
      <app-tickets />
    </div>
    <div class="col-6">
      <app-bitacoras />
    </div>
    <div class="col-6">
      <app-inspecciones />
    </div>
    <div class="col-6">
      <app-calendario />
    </div>
    <div class="col-6">
      <app-inventarios />
    </div>
    <div class="col-6">
      <app-almacen />
    </div>
    <div class="col-6">
      <app-juntas />
    </div>
    <div class="col-6">
      <app-mi-propiedad />
    </div>
    <div class="col-6">
      <app-pases-qr />
    </div>
    <div class="col-6">
      <app-amenidades />
    </div>
    <div class="col-6">
      <app-permisos-ingreso />
    </div>
    <div class="col-6">
      <app-mudanza />
    </div>
    <div class="col-6">
      <app-anuncios />
    </div>
    <div class="col-6">
      <app-documentos />
    </div>
    <div class="col-6">
      <app-reglamentos />
    </div>
    <div class="col-6">
      <app-documentos-biblioteca />
    </div>
    <div class="col-6">
      <app-directorios />
    </div>
    <div class="col-6">
      <app-compras />
    </div>
    <div class="col-6">
      <app-rrhh />
    </div>
    <div class="col-6">
      <app-reportes />
    </div>
  </div>
</main>

<br />
<br />
<br />
<app-footer />
