<!-- Optional JavaScript; choose one of the two! -->
<!-- Header -->
<app-header title="Condomino" />
<main class="container my-4">
  <div class="row g-3">
    <div class="col-6">
      <app-mi-propiedad />
    </div>
    <div class="col-6">
      <app-tickets />
    </div>

    <div class="col-6">
      <app-pases-qr />
    </div>
    <div class="col-6">
      <app-amenidades />
    </div>
    <div class="col-6">
      <app-permisos-ingreso />
    </div>
    <div class="col-6">
      <app-mudanza />
    </div>
    <div class="col-6">
      <app-anuncios />
    </div>
    <div class="col-6">
      <app-documentos />
    </div>
    <div class="col-6">
      <app-reglamentos />
    </div>
  </div>
</main>

<br />
<br />
<br />
<app-footer />
